// Command
// first create directory modules/tabs
// get create controller:tabs with 'https://raw.githubusercontent.com/kellvembarbosa/getXTemplates/main/tabs_controller.dart.example' on modules/tabs
//----------------------------------------------------------------
@import

class @controller extends GetxController {
  //TODO: Implement TabsController

  final _selectedTab = 0.obs;
  PageController tabBarController;

  @override
  onInit() {
    tabBarController = new PageController(initialPage: selectedTab);
    super.onInit();
  }

  int get selectedTab => _selectedTab.value;

  void updateTab(int newSelected) {
    _selectedTab.value = newSelected;
    tabBarController.jumpToPage(newSelected);
  }
}
